.homeserv-nav{
}

.thumb {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}
ul {
    padding:0 0 0 0;
    margin:0 0 0 0;
}
.image-row ul li {
    list-style:none;
    margin-bottom:25px;
}
ul li img {
    cursor: pointer;
}
.img-container{
  text-align: center;
	font-size: 10px;
}