
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.thumb {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}
.thumb-container { 
/*	background: url('') 50% 50% no-repeat; /* 50% 50% centers image in div */
	width: 250px;
	height: 250px;
	display: inline-block;
}

.thumb{
	display: block;
	width: 250px;
	height: 250px;
}
